@{
    ViewData["Title"] = "Home Page";
}

<div class="panel panel-primary">
    <div class="panel panel-heading">
        <h2 class="panel panel-title">Products</h2>
    </div>
    <div class="panel panel-body">
    </div>
            <div class="panel panel-footer">
        </div>
    

</div>